* {
	 outline: none;
}

body {
	background-color: white;
}


p {
	margin-left: 10px;
	margin-top: 10px;

}

.navbar{
	position: fixed;
    right: 0;
    left: 0;
	height: 50px;
	margin-bottom: 20px;
	font-weight: bold;
    background: rgb(2,117,187,0.9);    
    border: none;
    box-shadow:0px 15px 10px -15px #333;  
} 

.navbar .container {
	background: transparent;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

a {
	text-decoration: none;
}


.navbar .navbar-left {
	float: left;
}

.navbar .navbar-right {
	float: right;
}


.logo {
	float: left;
	padding-right: 10px;
	margin-top: 3px;
}

.navbar .container .navbar-collapse .navbar-left > li > a {
    line-height: 20px;
    position: relative;
    display: block;
    padding: 15px 15px;
    margin: 0;
    color: white;
    border-radius: 4px;
    background-color: transparent;
	transition: .3s linear;
}

.navbar .container .navbar-collapse .navbar-left > li > a:hover {
	color: #039be5;
    background-color:  #b2ebf2;
}

.navbar .container .navbar-collapse .navbar-left > li > a:focus {
	color: rgb(2,136,209);
    background-color: white;
}


.navbar .container .navbar-collapse .navbar-left .active > a {
    color: rgb(2,136,209);
    background-color: white;
}


.navbar .navbar-left, .navbar .navbar-right {
	display: flex;
	align-items: center;
	margin: 0px;
}

.navbar .container .navbar-collapse .navbar-left li.actives a {
	color: rgb(2,136,209);
    background-color: white;
}

.navbar-button {
	font-size: 14px;
	color: white;
 	position: relative;
    float: right;
    padding: 10px 12px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(111,195,216);
    background-image: none;
    border: none;
    border-radius: 4px;
    display: none !important;
}

.navbar-button:hover {
	transform: scale(1.03);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.2);
}

.navbar-button.active {
	color: #01579b;
	background-color: #b2ebf2;
}

.dropdown-menu > li > a{
	font-weight: normal;
	color: #4d4d4d;
	background-color: rgb(245,245,245);
	margin: auto;
	box-shadow: 0px 15px 10px -15px #333;
	padding-left: 15px;  
	line-height: 40px;
    position: relative;
    display: block;
    border-radius: 4px;
	border-bottom: 1px solid rgb(200,200,200);
	text-align: left;
	transition: .3s linear;
}

.dropdown-menu > li > a:hover{
	color: rgb(0,123,168);
    background-color: rgb(197, 239, 247);
    border-bottom: 1px solid rgb(197, 239, 247);
 }
 
 .dropdown-menu > li > a:focus{
	color: white;
    background-color: rgb(0,134,182);
 }

.dropdown-menu {
	display: none;
}


.dropdown:hover .dropdown-menu {
	display: block; 
}

.navbar-right .dropdown .dropdown-button {
 	line-height: 20px;
    position: relative;
    display: block;
    padding: 15px 15px;
    margin: 0;
    color: #039be5;
    background-color: #b2ebf2;
    border-radius: 4px;
	transition: .3s linear;
}

.navbar-right .dropdown .dropdown-button:hover {
	color: rgb(2,136,209);
	background-color: white;    
}

.navbar-right .dropdown .dropdown-button:focus {
	color: #039be5;
    background-color: #b2ebf2;
}

.navbar .container .navbar-collapse.active{
	display: block;
}

.row{
    margin: 30px 50px;
}

.large-image > img {
	max-width: 100%;
	height: auto;
	margin-top: 0;
}


.icon-button {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.icon-button > a > button {
	margin: 5px;
	display: block;
	border: none;
	font-size: 22px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: rgba(255,255,255,0.5);
	background: rgba(34, 167, 240,.5);
	transition: .3s linear;
}

.icon-button > a > button:hover {

	color: rgba(255,255,255,1);
	background: rgba(34, 167, 240,1);
}


.wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
}


.search-bar > form {
	padding-left: 18%;
	display: flex;
	background: rgb(111,195,216);
	height: 60px;

}

.flexbox-search .form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

div .sider {
	width: 90vw;
	margin-left: 10vw;
	background-color: white;
	border-bottom: 6px solid rgb(139,191,211);
	border-top: 6px solid rgb(1, 50, 67);
	box-shadow:0px 15px 10px -15px #333;  
	border-radius: 6px;
	margin: auto;
	margin-top: 25px;
	margin-left: 
} 

div .sider .sider-title {

	line-height: 40px;
	font-weight: bolder;
	text-overflow: ellipsis;
	text-align: center;
	background-color: rgb(139,191,211);
}

div .sider > ul {
	margin: 0;
	background-color: rgb(103,173,203);
	
}


.flexbox-search  .text{
	display: block;
	width: 95%;
	margin: 10px;
	height: 30px;
	border: 2px solid #ccc;
	border-radius: 5px;
	 background-color: #f8f8f8;
	margin-bottom: 10px;
}

.flexbox-search  .textarea{
	display: block;
	width: 95%;
	margin: 10px;
	resize: none;
	height: 120px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #f8f8f8;
	margin-bottom: 10px;
}

#redio1, #redio2 {
	margin-left: 10%;
}

li.list {
	line-height: 30px;
	box-sizing: border-box;
	text-overflow: ellipsis;
	transition: .3s linear;
	white-space:nowrap;
   	overflow:hidden;
   	text-overflow:ellipsis;
	
}

.search-bar button {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	height: 45px;
	width: 80px;
	border-radius: 20px;
	border: none;
	color:  rgb(1, 50, 67);
	background-color: rgb(111,195,216);
	font-weight: bold;

}

.search-bar button:hover {
	color: white;
    background-color: rgb(2,136,209);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.2);
}

li.list:hover {
	background-color: rgb(35,120, 159);
}


li.list > a {
	color: rgb(1, 50, 67);
	margin-left: 2vw;
	
}

.flexbox-result {
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 8px;
	border: solid 1px rgb(200,200,200);
	border-top: 6px solid rgb(1, 50, 67);
	box-shadow:0px 15px 10px -15px #333;  
}

.thumbnail .square:hover {
	transform: scale(1.03);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.content {
	height: 140px;
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	border-bottom: 1px solid  #9d9d9d;;
}


.article {
	margin:10px;
	display: flex;
	flex-direction: column;
	
}


.article.title{
	margin-top: 10PX;
	font-weight: bold;
	margin:10px;
	display: flex;
	flex-direction: column;
	
}

.article .words {
	line-height: 20px;
	overflow:hidden;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	font-style: italic;
	color: #8d8d8d;
}

 .title {
	line-height: 25px;
	font-weight: bold;
	color: rgb(1, 50, 67);
}


.square {
	flex-shrink: 0;
	display: block;
	margin: 0;
	border-radius: 2px;
    width: 120px;
    height: 120px;
   
    margin: 10px;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.page-number {
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
	padding-top: 10px;
	background: #bbdefb;
}

.page-number .active{
	color: rgba(34, 167, 240,1);
	text-decoration: underline;

}

.button-box {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}

.wrapper {
	text-align: center;
}

input.button {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	height: 20px;
	width: 60px;
	border-radius: 2px;
	border: none;
	color:  rgb(1, 50, 67);
	background-color: rgb(111,195,216);
	font-weight: bold;
	text-align: center;

}

input.button:hover {
	color: white;
    background-color: rgb(2,136,209);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.2);
}

footer {
	width: 100%;
	height: 20vw;
	background-color: rgb(0,93,128);
	bottom: 0;
	display: block;
}

.QRcode {
	width: 10vw;
	height: 10vw;
	float: left;
	margin-left: 5vw;
	margin-top: 5vw;
}

.footer {
	color: white;
	height: 4vw;
	text-align: center;
	bottom: 0;
}

.footer p {
	padding: 1px;
	font-size: 1vw;
	line-height: 1.4vw;
}
